.header {
    margin-left: 50px;
    margin-top: 93.16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 36.52px;
    align-items: center;
}

.menu-list {
    min-width: 391.48px;
}

.menu-list ul {
    display: flex;
    list-style: circle;
    gap: 32px;
}

.header-link {
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 3px;
}

.header-link-active {
    text-decoration: none;
}

.menu-list ul li:first-child {
    list-style: none; 
}

.logo-style {
    max-width: 150px;
}

.logo {
    width: 148px;
    height: 105px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 240px;
    font-size: 18px;
    text-underline-offset: 4px;
    font-style: normal;
}

.cover {
    margin-top: 95px;
    display: grid;
    width: 1100px;
    min-height: 757px;
    background: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    justify-items: center; 
}

.overlay {
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    inset: 0;
}

.title {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    position: relative;
    letter-spacing: 30px;
    font-size: 100px;
    font-weight: 700;
    color: white;
    width: 1000px;
    margin-top: 165px;
    margin-bottom: 106px;
    gap: 16px;
}

.aligned-text {
    justify-self: start;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.aligned-text-center {
    justify-self: center;
}

.no-letter-spacing-center {
    letter-spacing: 0px;
}

.aligned-text-right {
    justify-self: end;
}

.no-letter-spacing-right {
    letter-spacing: 0px;
}

.description {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    position: relative;
    align-self: end;
    margin-bottom: 50px;
}

.subline {
    margin-top: 13px;
    font-size: 22px;
    font-weight: 400;
    color: white;
    word-spacing: 19px;
}

.button {
    font-size: 22px;
    font-weight: 400;
    color: white;
    padding: 12px 32px 11px 31px;
    border: 1px solid white;
}

.lots {
    width: 1052px;
    margin-left: 24px;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.lots__title {
    margin-left: 40px;
    margin-bottom: 27px;
    font-size: 40px;
    font-weight: 700;
}

.lots__cards-list {
    margin-bottom: 30px;
    display: flex;
    gap: 25px;
    align-self: center;
    min-width: 1052px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card-link {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_painting {
    background-image: url(../images/card-lot-03.jpg);
}

.card {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.card__title {
    color: white;
    max-width: 254px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 48px; 
    z-index: 1;
    text-decoration: underline;
}

.card__text {
    color: white;
    font-size: 20px;
    font-weight: 400;
    max-width: 254px;
    margin-top: auto; 
    margin-bottom: 52px; 
    z-index: 1;
}

.more {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 400;
}

.about {
    margin-left: 24px;
    margin-top: 120px;
    display: flex;
    max-width: 1052px;
    justify-content: space-between;
}

.logo-column {
    margin-left: 47px;
    margin-top: 35px;
    background-color: black;
    max-width: 240px;
    height: 240px;
    border-radius: 50%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-about {
    width: 148px;
    height: 114px;
}

.about-column {
    margin-top: 133px;
    flex-grow: 2;
    max-width: 693px;
    display: flex;
    flex-direction: column;
}

.about-title {
    margin-bottom: 100px;
    font-size: 40px;
    font-weight: 700;
}

.description-block { 
    display: flex; 
    flex-direction: column; 
    gap: 24px;
    width: 100%; 
    font-size: 20px; 
    font-weight: 400px; 
    line-height: 24px; 
    max-width: 693px;
}

.about-mini-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    max-width: 688px;
}

.footer-info {
    margin-left: 50px;
    margin-bottom: 82px;
    margin-top: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
}

.footer-contacts {
    justify-self: start;
    max-width: 264.57px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 18px;
    text-underline-offset: 4px;
    font-style: normal;

}

.footer-menu-list {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 400px;
    text-underline-offset: 3px;
}

.footer-link {
    font-size: 18px;
    font-weight: 400;
    text-underline-offset: 3px;
}

.footer-link-active {
    text-decoration: none;
}

.socials {
    justify-self: end;
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.socials-images {
    height: 48px;
}